body {
  margin: 0;
  text-align: center;
  font-family: 'Recursive', sans-serif;
  position: relative;
  color: #3a6351;
}
h1 {
  font-family:'Dancing Script', cursive;
  font-size: 5.625rem;
  margin: 50px, auto, 0, auto;
  color: #f48b29;
  /* font-size: 90px;  */
  /* 16px = 100% = 1em */
  /* line-height: ; */
  
}

.container {
  background-color: #3a6351;
  padding: 50px;
  margin: -50px;
  
}
.pro{
  font-size: 2.5rem;
  color: #32e0c4;
  font-weight: normal;
}
.underline{
  text-decoration: underline;
}

.top-container{
  background-color: #3a6351; 
}
.top-cloud{
  position: absolute;
  right:300px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
}
hr{
  height: 0px;
  border-style: none;
  border-top-style: dotted;
  width: 20%;
  border-width: 5px;
  border-color: grey;

}
.middle-container{
  margin: 200px, 0;
  background-color: #f2edd7;
}

.personal-icon{
  width: 15%;
  padding-top: 90px;
}
.profile{
  padding-bottom: 20px;
}
.skill-row{
  width: 50%;
  margin: 100px, auto, 100px, auto;
  text-align: left;
  line-height: 2;
  padding: 20px;
  display: block;
  
}
.h3{
  display: block;
}
.full-stack-description{
  clear: left;
}
.skills-image{
  width: 70%;
  float: left;
  margin-right: 20px;
}
.chillies-img{
  width: 35%;
  float: right;
  margin-left: 30px;
}

.gif{
  display: inline;
  margin-left: 900px;
}
.bottom-page{
  background-color: #3a6351; 
  padding: 50px, 0, 20px;
}
.contact-me{
    background: #3a6351;
    background-image: -webkit-linear-gradient(top, #f48b29;, #f48b29;);
    background-image: -moz-linear-gradient(top, #f48b29;, #f48b29;);
    background-image: -ms-linear-gradient(top, #f48b29;, #f48b29;);
    background-image: -o-linear-gradient(top, #f48b29;, #f48b29;);
    background-image: linear-gradient(to bottom, #f48b29;, #f48b29;);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: 'Recursive', sans-serif; 
    color: #f48b29;;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: auto;
    margin-top: 10px;
    width: 10%;
  }
  
  .contact-me:hover {
    background: #e48257;
    background-image: -webkit-linear-gradient(top, #f48b29;, #f48b29;);
    background-image: -moz-linear-gradient(top, #f48b29;, #f48b29;);
    background-image: -ms-linear-gradient(top, #f48b29;, #f48b29;);
    background-image: -o-linear-gradient(top, #f48b29;, #f48b29;);
    background-image: linear-gradient(to bottom, #f48b29;, #f48b29;);
    text-decoration: none;
  }
.contact-links{
  width: 40%;
  margin: 10px auto;
}
.copyright{
  width: auto;
  margin-bottom: 20px;
}

